/*=====================================
=            Footer styles            =
=====================================*/


.l-footer {
	text-align: center;
	height: 100px;
	background-color: $color-light-bg;
	margin-top: $general-margin;	
	box-shadow: -3px 0px 5px $color-hr;
}
