/*=====================================
=            Header styles            =
=====================================*/


.l-header {
	height: 100px;
	width: 100%;
	display: block;
	box-shadow: 3px 0px 5px $color-hr;
	border-bottom: 1px solid $color-pink;
}
