/*=====================================
=            Header styles            =
=====================================*/


.l-header {
	height: 100px;
	width: 100%;
	background-color: $color-light-bg;
	display: block;
	box-shadow: 3px 0px 5px $color-hr;
}
