/*================================
=            Settings            =
================================*/


/* Typograhy */

$base-font-size: 16px;
$font-1: "Varela", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-2: "Montserrat", "Varela", Georgia, serif;
$font-3: "Open sans", "Varela", Verdana, sans-serif;
$font-num: "Lekton", "Hind", "Montserrat", "Helvetica Neue", sans-serif;

$baseline: $base-font-size * 1.5;

/* Colors */
$color-link: #1a44df;
$color-link-hover: #222;

$color-text: #1f1f1f;
$color-grey-text: #666;
$color-light-grey: #DDD;
$color-dark-orange: #F25E3D;
$color-white: #f1f1f1;
$color-light-bg: #EEE;
$color-dark-grey: #333;
$color-pink: #ef685e;
$color-yellow: #e6e035;
$color-dark-red: #792c40;

$color-hr: #999;

$color-success: #41a839;
$color-error: #D63E3E;
$color-info: #2E66C7;
$color-dark: #222;

/* Positioning */
$margin-multiplier: 2;

$general-margin: $baseline * $margin-multiplier;

/* Transitions */
$easeOutBounce: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$bounce: cubic-bezier(0.215, 0.610, 0.355, 1.000);