/*===================================
=            Base styles            =
===================================*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Montserrat:400,700|Varela|Varela+Round|Lekton:400,700,400italic|Hind:400,600);

body {
	font-family: $font-1;
	// text-align: center;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

p, ul, li, div, a, nav {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

button {
}

ul {
	padding-left: 0;
}

img {
	max-width: 100%;
}