/*==================================
=            Grid style            =
==================================*/

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.row {
	display: block;
	width: 100%;

	@include clearfix;
}

.col-lg-1 {
	display: inline-block;
	width: calc(100% / 12 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-2 {
	display: inline-block;
	width: calc(100% / 6 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-3 {
	display: inline-block;
	width: calc(100% / 4 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-4 {
	display: inline-block;
	width: calc(100% / 3 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-5 {
	display: inline-block;
	width: calc(100% / 12 * 5 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-6 {
	display: inline-block;
	width: calc(100% / 2 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-7 {
	display: inline-block;
	width: calc(100% / 12 * 7 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-8 {
	display: inline-block;
	width: calc(100% / 12 * 8 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-9 {
	display: inline-block;
	width: calc(100% / 12 * 9 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-10 {
	display: inline-block;
	width: calc(100% / 12 * 10 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-11 {
	display: inline-block;
	width: calc(100% / 12 * 11 - 2rem);
    float: left;
    margin: 1rem;
}

.col-lg-12 {
	display: inline-block;
	width: calc(100% - 2rem);
    float: left;
    margin: 1rem;
}
