/*=====================================
=            Button styles            =
=====================================*/

/* BUTTON BASE */
.btn {
	line-height: 1.5rem;
	padding: 8px 16px;
	border-radius: 5px;
	border: 1px solid $color-hr;
	color: $color-text;
	text-decoration: none;
	display: inline-block;
	box-shadow: 0 -1px 3px $color-light-grey inset;
}

/* DEFAULT BUTTON */
.btn-default {
	@extend .btn;

	background-color: $color-white;
	color: $color-text;	

	&:hover {
		background-color: darken($color-white, 5%);
	}
}

.btn-ok {
	@extend .btn;

	background-color: $color-success;
	color: white;

	&:hover {
		background-color: darken($color-success, 5%);
	}
}

.btn-info {
	@extend .btn;

	background-color: $color-info;
	color: white;

	&:hover {
		background-color: darken($color-info, 5%);
	}
}

.btn-err {
	@extend .btn;

	background-color: $color-error;
	color: white;

	&:hover {
		background-color: darken($color-error, 5%);
	}
}

.btn-black {
	@extend .btn;

	background-color: $color-dark;
	color: white;
	border: 1px solid $color-light-grey;

	&:hover {
		background-color: darken($color-dark, 5%);
	}
}

/* SQUARED BUTTON */

.btn-square {
	@extend .btn;

	border-radius: 0;
}

/* BUTTON SIZES */
.btn-large {
	@extend .btn;

	padding: 12px 28px;
}

.btn-small {
	@extend .btn;

	padding: 2px 8px;
}


/* CALL TO ACTION */
.cta {
	@extend .btn;

	font-size: $base-font-size * 1.5;
	padding: 1rem 3rem;
	background-color: $color-success;
	color: white;

	&:hover {
		background-color: darken($color-success, 5%);
	}
}

/* TRANPARENT BACKGROUND */

.btn-tr {
	@extend .btn;
	background-color: transparent;
	border: 1px solid $color-dark;
	color: $color-dark;
	box-shadow: none;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: $color-dark;
		color: $color-white;
	}
}

.btn-info-tr {
	@extend .btn-tr;
	background-color: transparent;
	border: 1px solid $color-info;
	color: $color-info;
	
	&:hover {
		background-color: $color-info;
		color: $color-white;
	}
}

.btn-err-tr {
	@extend .btn-tr;
	background-color: transparent;
	border: 1px solid $color-error;
	color: $color-error;

	&:hover {
		background-color: $color-error;
		color: $color-white;
	}
}

.btn-ok-tr {
	@extend .btn-tr;
	background-color: transparent;
	border: 1px solid $color-success;
	color: $color-success;

	&:hover {
		background-color: $color-success;
		color: $color-white;
	}
}

.btn-danger-tr {
	@extend .btn-tr;
	background-color: transparent;
	border: 1px solid $color-dark-orange;
	color: $color-dark-orange;

	&:hover {
		background-color: $color-dark-orange;
		color: $color-white;
	}
}



/* Tags */

.tag-arrow {
    display: inline-block;
    position: relative;
    padding: 2px 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 30px 1em 0;
    text-decoration: none;
    text-transform: lowercase;
    background-color: $color-pink;
    color: $color-white;
}
 
.tag-arrow:hover {
    background-color: $color-dark;
    color: $color-white;
}

 
.tag-arrow:after {
    display: inline-block;
    border: 14px solid;
    border-color: transparent transparent transparent $color-pink;
    height: 0;
    width: 0;
    position: absolute;
    right: -28px;
    top: 0;
    content: "";
    display: inline-block;
}
 
 
.tag-arrow:hover:after {
    border-color: transparent transparent transparent $color-dark;
}

.label {
	background-color: $color-dark;
	color: $color-white;
	padding: 3px 6px;
	border-radius: 6px;
	margin: 1em 4px;
	font-size: 13px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 2px;
	text-decoration: none;
}

.label-dark {
	@extend .label;

	background-color: $color-dark;
}


.label-info {
	@extend .label;

	background-color: $color-info;
}

.label-danger {
	@extend .label;

	background-color: $color-dark-orange;
}

.label-ok {
	@extend .label;

	background-color: $color-success;
}

.label-err {
	@extend .label;

	background-color: $color-error;
}


/* Tooltips */

.trigger {
	height: 50px;
	padding: 0 30px;
	border-radius: 25px;
	background-color: $color-pink;
	color: $color-white;
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	position: relative;

	&:hover {

		 .tooltip {
			visibility: visible;
			opacity: 1;
			-webkit-transform: translate(10px, 0);
			        transform: translate(10px, 0);
		}
	}
}

.tooltip {
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	background-color: $color-dark;
	color: $color-light-grey;
	display: inline-block;
	padding: 0 2rem;
	border-radius: 5px;
	position: absolute;
	left: calc(100% + 10px);
	top: 0;
	// width: 150px;
	height: 100%;
	white-space: nowrap;

	&::before {
		content: "";
		display: inline-block;
		border: 10px solid;
		border-color: transparent;
		border-right-color: $color-dark;
		position: absolute;
		left: -20px;
		top: 15px;
	}
}

.trigger-left {
	@extend .trigger;

	&:hover .tooltip {
		-webkit-transform: translate(-10px, 0);
		        transform: translate(-10px, 0);
	}
}

.tooltip-left {
	@extend .tooltip;

	left: initial;
	right: calc(100% + 10px);

	&::after {
		content: "";
		display: inline-block;
		border: 10px solid;
		position: absolute;
		border-color: transparent;
		border-left-color: $color-dark;
		right: -20px;
		left: none;
		top: 15px;
	}

	&::before {
		content: none;
	}
}