/*======================================
=            Divider Styles            =
======================================*/



hr {
	display: block;
	height: 1px;
	width: 100%;
	margin: $general-margin auto;
	border: none;
	background-color: $color-dark-orange;
}