/*===================================
=            Misc styles            =
===================================*/


/* Panel */

.panel {
	display: inline-block;
	padding: 1rem 2rem;
	background-color: $color-light-bg;
	border: 1px solid $color-hr;
	box-shadow: 0px 0px 3px $color-hr inset;
	box-sizing: border-box;
}

/* Large text */

.large-text {
	font-size: 300%;
	font-weight: bold;
}

/* Blockquote */

.blockquote {
	display: block;
	font-style: italic;
	color: $color-grey-text;
	text-align: left;
	padding-left: $baseline;
	border-left: 3px solid $color-light-grey;

	// &:before {
	// 	content: "\"";
	// 	padding-right: .5rem;
	// }

	// &:after {
	// 	content: "\"";
	// 	padding-left: .5rem;
	// }

	p {
		margin-bottom: 10px;
	}

	cite {
		// margin-top: 10px;
		display: inline-block;
		color: lighten($color-grey-text, 15%);
		text-transform: uppercase;
		font-size: .75em;

		&:before {
			content: "-";
			padding-right: .5rem;
		}
	}
}

.blockquote-right {
	@extend .blockquote;
	border-left: 0;
	border-right: 3px solid $color-pink;
	padding-left: 0;
	padding-right: $baseline;
	text-align: right;
}

.blockquote-quote {
	@extend .blockquote;
	background-color: $color-light-bg;
	padding: 10px 0 10px  $baseline;

	&:before {
		content: open-quote;
		font-size: 3em;
		display: inline-block;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
		color: $color-dark-orange;
	}

	p {
		display: inline;
	}
}

/* Pagination */

.pagination {
	list-style-type: none;
	padding-left: 0;

	li {
		display: inline-block;
		padding: 0;
		line-height: normal;

		a {
			text-decoration: none;
			display: block;
			background-color: $color-white;
			color: $color-text;
			padding: 6px 12px;
			border: 1px solid $color-text;
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: $color-dark;
				color: $color-light-grey;
			}
		}

		&.active a {
			background-color: $color-pink;
			color: $color-white;
		}

		&.disabled a {
			background-color: $color-light-bg;
			cursor: default;
			pointer-events: none;
		}
	}
}

/* Breadcrumbs */

.breadcrumbs {
	list-style-type: none;
	padding-left: 0;
	background-color: $color-light-bg;
	border: 1px solid $color-hr;
	text-align: left;
	padding: 10px;
	border-radius: 3px;

	li {
		display: inline-block;
		margin-left: $baseline;

		a {
			text-decoration: none;
			color: $color-info;

			&:hover {
				color: $color-pink;
			}
		}

		&:after {
			content: "\00BB";
			margin-left: $baseline;
		}

		&:last-child {
			color: $color-grey-text;

			&:after {
				content: "";
			}
		}
	}
}

.breadcrumbs-dark {
	@extend .breadcrumbs;

	background-color: $color-dark-grey;

	li a {
		color: $color-white;
	}

	li:after {
		color: $color-white;
	}

	li:last-child {
		color: $color-hr;
	}
}

/* Accordion */

.accordion {

	position: relative;
	margin-bottom: ($general-margin * 3);

	ul {
		list-style-type: none;
		width: 100%;
		display: block;
		border: 1px solid $color-hr;

		li {
			display: inline-block;
			float: left;
			width: (100% / 3);
			border-right: 1px solid $color-hr;
			box-sizing: border-box;
			text-align: center;

			a {
				text-decoration: none;
				color: $color-white;
				display: inline-block;
				width: 100%;
				line-height: 35px;
				background-color: $color-dark-grey;
				@extend .ease;
			}

			&:last-child {
				border-right: 0;
			}

			&.active a {
				background-color: $color-pink;
				color: $color-white;
			}
		}
	}

	.accordion-text {
		@include clearfix;
	}

	p {
		display: block;
		position: absolute;
		top: 35px;
		left: 0;
		margin: 0;
		padding: $baseline;
		width: 100%;
		background-color: $color-white;

		&:not(:first-child) {
			display: none;
		}
	}
}

/* Progress Bar */

.progress-bar, .progress-bar-anim {
	width: 100%;
	border: 1px solid $color-dark;
	background-color: $color-light-bg;
	height: 25px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: $general-margin;

	.progress, .progress-anim {
		width: 0;
		height: 23px;
		text-align: center;
		background-color: $color-pink;
		color: $color-white;
		font-family: $font-num;
		font-weight: 700;
	}
}


/* Pie charts */

.pie {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background: linear-gradient(to right,
		transparent 50%, currentColor 0) $color-pink;
	display: inline-block;
	margin: $general-margin;
	color: $color-yellow;

	&::before {
		content: "";
		background-color: inherit;
		display: inline-block;
		height: 200px;
		width: 100px;
		margin-left: 50%;
		border-radius: 0 100% 100% 0 / 50%;

		/* change this value to get the angle (.3 = 30%, etc) */
		-webkit-transform: rotate(.3turn);
		        transform: rotate(.3turn);
		-webkit-transform-origin: left;
		        transform-origin: left;
	}

}

.pie.over-50::before {
	background: currentColor;
}

.pie-animated {
	@extend .pie;

	&::before {
		background-color: currentColor;
		-webkit-transform: rotate(0);
		        transform: rotate(0);
		-webkit-animation: piecolor 2s step-start infinite,
			piespin 1s linear infinite;
		        animation: piecolor 2s step-start infinite,
			piespin 1s linear infinite;
	}
}

@-webkit-keyframes piecolor {
	50% {
		background-color: inherit;
	}
}

@keyframes piecolor {
	50% {
		background-color: inherit;
	}
}

@-webkit-keyframes piespin {
	to {
		-webkit-transform: rotate(.5turn);
		        transform: rotate(.5turn);
	}
}

@keyframes piespin {
	to {
		-webkit-transform: rotate(.5turn);
		        transform: rotate(.5turn);
	}
}


/* Hero Unit */

.hero {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 80%;
	-ms-align-items: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: $color-light-bg;
	border: 1px solid $color-light-grey;
	margin: $general-margin auto;
	padding: $general-margin;
	min-height: 350px;

	h1 {
		margin: 0;
		font-size: 3em;
	}

}

.hero-full {
	@extend .hero;

	width: 100%;
}

.hero-left {
	@extend .hero;

	-webkit-align-items: flex-start;

	    -ms-flex-align: start;

	        align-items: flex-start;
}

.hero-right {
	@extend .hero;

	-webkit-align-items: flex-end;

	    -ms-flex-align: end;

	        align-items: flex-end;
}

.hero-bottom {
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}


/* Rollovers */

.card-wrapper {
	-webkit-perspective: 900px;
	        perspective: 900px;
	position: relative;
	height: 300px;
	width: 300px;

	.card {
		width: 100%;
		height: 100%;
		position: absolute;
		transition: all 0.5s $easeOutBounce;
		-webkit-transform-style: preserve-3d;
		        transform-style: preserve-3d;

		&:hover {
			-webkit-transform: rotateY(180deg);
			        transform: rotateY(180deg);
		}
	}

	.card-front, .card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
		background-size: 100% 100%;
		border: 10px solid $color-dark;
	}

	.card-front {
		background-image: url(../images/helpers/dog-drink.jpg);
	}

	.card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $color-dark-orange;
		color: $color-white;
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);

		p {
			background-color: $color-dark;
			color: $color-white;
			padding: 30px 10px;
			position: absolute;
			width: 100%;
			margin: 0;
			top: calc(50% - 40px);
		}
	}

}

.card-wrapper-round {
	@extend .card-wrapper;
	border-radius: 50%;
	overflow: hidden;

	.card, .card-front, .card-back {
		border-radius: 50%;
	}

	.card-front {
		background-image: url(../images/helpers/cat-drink.jpg);
	}
}


/* Slider */

.slider {
	width: 100%;
	position: relative;
}

.slider-inner {
	width: 100%;
	min-height: 610px;
	height: 100%;
	text-align: left;
	position: relative;

	.slide {
		height: 100%;
		width: auto;
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		transition: all 0.7s ease-out;

		img {
			width: 100%;
			min-width: 100%;
			height: auto;
			display: inline-block;
		}

		&.active {
			visibility: visible;
			opacity: 1;
		}
	}
}


.slider-prev, .slider-next {
	position: absolute;
	top: 50%;
	height: 30px;
	width: 30px;
	margin-top: -15px;
	display: inline-block;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	z-index: 21;
	opacity: 0.3;
	transition: opacity 0.2s ease-in;

	&:hover {
		opacity: 0.5;
	}
}

.slider-prev {
	left: 3%;
	background-image: url(../images/helpers/slide-prev.svg);
}

.slider-next {
	right: 3%;
	background-image: url(../images/helpers/slide-next.svg);
}

.slider-caption {
	position: absolute;
	z-index: 20;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	color: $color-white;
	padding: 2em 1em;
	text-align: center;

	p {
		margin: 0;
	}
}

/* Modals */
.modal {
	display: none;
}

body.modal-open .modal {
	position: fixed;
	height: 90vh;
	width: 50vw;
	left: 25vw;
	top: 5vh;
	padding: $baseline;
	box-shadow: 0px 0px 15px $color-dark;
	border: 1px solid $color-light-grey;
	background-color: $color-white;
	z-index: 777;
	overflow: hidden;
	display: inherit;

	img {
		width: 100%;
		max-width: 100%;
		height: auto;
		// max-height: 400px;
	}

    -moz-animation-name: modalSlide;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: $easeOutBounce;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: modalSlide;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: $easeOutBounce;
    -webkit-animation-duration: 0.8s;

    animation-name: modalSlide;
    animation-iteration-count: 1;
    animation-timing-function: $easeOutBounce;
    animation-duration: 0.8s;


	@-moz-keyframes modalSlide {
	    0% {
	        -moz-transform: translateY(-150px);
	    }
	    100% {
	        -moz-transform: translateY(0);
	    }
    }
	@-webkit-keyframes modalSlide {
	    0% {
	        -webkit-transform: translateY(-150px);
	    }
	    100% {
	        -webkit-transform: translateY(0);
	    }
    }
	@keyframes modalSlide {
	    0% {
	        transform: translateY(-150px);
	    }
	    100% {
	        transform: translateY(0);
	    }
    }
}

body.modal-open .modal-outside {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.3;
}

body.modal-open #main-container {
    -webkit-filter: grayscale(50%) !important;
    -moz-filter: grayscale(50%) !important;
    -o-filter: grayscale(50%) !important;
    -ms-filter: grayscale(50%) !important;
    filter: grayscale(50%) !important;
    pointer-events: none;
}


/* Pricing tables */

.activities {
  margin-bottom: 1em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;

  justify-content: center;
}

.price-table {
  background-color: $color-light-bg;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  padding-bottom: 40px;
  min-width: 200px;
  margin-bottom: $baseline;
  text-align: center;
}

.price-table-title {
  background-image: -webkit-linear-gradient(to bottom, $color-dark, $color-dark-grey);
  background-image:    -moz-linear-gradient(to bottom, $color-dark, $color-dark-grey);
  background-image:     -ms-linear-gradient(to bottom, $color-dark, $color-dark-grey);
  background-image:      -o-linear-gradient(to bottom, $color-dark, $color-dark-grey);
  background-image:         linear-gradient(to bottom, $color-dark, $color-dark-grey);
  margin: 0;
  padding: 7px;
  display: block;
  color: $color-white;
  text-align: center;
}

.price-table-price {
  font-size: 2.25rem;
  border-bottom: 1px solid #0b162a;
  line-height: 2.5rem;
  font-family: "Hind";
  font-weight: bold;
  color: $color-dark;
}

.price-table-p {
  padding-top: 1em;
}

.price-table-desc {
  padding: 1em 0;
}

.cta-program {
  background-color: $color-dark-red;
  padding: 5px;
  border-top: 1px solid #000;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $color-white;
  display: block;
  text-decoration: none;

  &:hover {
  	background-color: darken($color-dark-red, 5%);
  }
}
